doctype html
html(lang="env")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, inital-scale=1")
		meta(name="author" content="LoginID")
		link(rel="stylesheet" href="index.css")
	body
		block content
